form input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

label {
	font-size: 13px;
	margin-bottom: 5px;
	color: #fff;
}
.control-group {
	margin-bottom: 5px;
}
.help-block {
	font-size: 11px;
}
input.inline {
	display: inline-block;
	float: left;
	margin-right: 5px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: 40px;
	width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-image: none;
	text-shadow: none;
	padding: 0 10px;
	margin-bottom: 10px;
	background-color: rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.8);
	border: 0;
	font-family: "Lucida Grande";
	color: #888;
}

textarea {
	height: auto;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, 
input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, 
input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, 
input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, 
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	outline: 0;
	outline: thin dotted 9;
	box-shadow: none;
	background-color: rgba(0,0,0,0.8);
}

.action-footer {
	margin-top: 5px;
}
.form-meta {
	font-size: 11px;
	margin-top: -10px;
}